* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.col-md-5,.col-md-3 {
  height: 250px;
  background-color: brown;
  border-radius: 20px;

}

#pe,#pe1{
  display: none;
}

p{
  padding: 10px;
  margin: 10px;
  background-color: cadetblue;
  text-align: center;
  border-radius: 10px;
}

nav{
  padding: 10px;
  background-color: rgb(36, 35, 35);
}

nav ul li{
  list-style: none;

}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}